<template>
    <div class="container">
        <div class="row">
            <button v-on:click="make(+1)" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-thumbs-up"></span> Like {{mutablePositive}}</button>
            <button v-on:click="make(-1)" type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike {{mutableNegative}}</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            number: {required: true},
            positive: {required: true},
            negative: {required: true},
            neutral: {}
        },
        data: function () {
            return {
                mutablePositive: this.positive,
                mutableNegative: this.negative
            }
        },
        mounted() {
            console.log('Likes component ready.')
        },
        methods: {
            make: function(value) {
                const self = this;

                $.ajax({
                    url: `/phone/${this.number}/like`,
                    data: {
                        value: value
                    },
                    type: 'post',
                    dataType: 'json',
                    async: true,
                    success: function(data) {
                        self.mutablePositive = data.response.positiveLikesCount;
                        self.mutableNegative = data.response.negativeLikesCount;
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            }
        },
        watch() {

        },
        destroyed () {

        }
    }
</script>
