<template>
    <div class="container">
        <div class="row">
            <div class="well">
                <h4>Leave a Report:</h4>
                <form role="form" v-on:submit.prevent="submit">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Name</label>
                                <input value="test" class="form-control" type="text" placeholder="Name" name="name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input value="test@test.test" class="form-control" type="email" placeholder="Email" name="email">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Owner</label>
                                <input value="test" class="form-control" type="text" placeholder="Owner" name="owner">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Type</label>
                                <select name="type" class="form-control">
                                    <option value="-1" selected="selected">(Not specified)</option>
                                    <option value="1">Missed call</option>
                                    <option value="2">Telemarketing</option>
                                    <option value="8">Debt collector</option>
                                    <option value="3">Fake id</option>
                                    <option value="4">Survey</option>
                                    <option value="9">Text</option>
                                    <option value="0">Possible scam</option>
                                    <option value="5">Threats</option>
                                    <option value="6">Prank call</option>
                                    <option value="7">Automatic reminder</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Number</label>
                                <input v-model="number" class="form-control" type="text" placeholder="Number" name="number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Rating</label>
                                <rating number="5" name="rating"></rating>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Message</label>
                        <textarea value="test" class="form-control" rows="3" placeholder="Message" name="message"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            number: {}
        },

        mounted() {
            console.log('Report component ready.')
        },
        methods: {
            submit: function(e) {
                const el = $(this.$el);

                const form = el.find('form');

                el.find('.error, .success').remove();

                $.ajax({
                    url: `/phone/report`,
                    data: $(e.target).serialize(),
                    type: 'post',
                    dataType: 'json',
                    async: true,
                    success: function(data) {
                        form.prepend(`<p class="success text-success">${data.msg}</p>`);

                        form.find('input[type=text], textarea').val('');
                    },
                    error: function(err) {
                        $.each(err.responseJSON, (key, value) => {
                            el.find(`[name="${key}"]:eq(0)`).after(`<p class="error text-danger">${value.join('')}</p>`);
                        });
                    }
                });
            }
        },
        watch() {

        },
        destroyed () {

        }
    }
</script>