// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "rating";

body {
  padding-top: 70px;
}

footer {
  margin: 50px 0;
}




